[mpdscribble]
log = {{ .chezmoi.homeDir }}/.config/mpdscribble/mpdscribble.log
verbose = 1

[libre.fm]
# libre.fm section, comment if you do not use libre.fm
url = http://turtle.libre.fm/
username = ksynwa
password = {{ .mpdscribble.libre_fm.password }}
journal = {{ .chezmoi.homeDir }}/.config/mpdscribble/librefm.journal

[listenbrainz]
url = http://proxy.listenbrainz.org/
username = ksynwa
password = {{ .mpdscribble.listenbrainz.api_token }}
journal = {{ .chezmoi.homeDir }}/.config/mpdscribble/listenbrainz.journal
