{{/* boolean feature tags */}}
{{- $work := false -}}{{/* true for work computer */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "ksdc" -}}
{{-   $work = true -}}
{{- end -}}

{{/* X and monitor related values */}}
{{- $laptop_monitor := "DP-2" -}}
{{- $external_monitor := "DP-0" -}}
{{- if $work -}}
{{-   $laptop_monitor = "eDP" -}}
{{-   $external_monitor = "HDMI-A-0" -}}
{{- end -}}

{{/* wifi device name for yambar */}}
{{- $wifi_device := "wlp0s20f3" -}}
{{- if $work -}}
{{-   $wifi_device = "wlp3s0" -}}
{{- end -}}

[data]
work = {{ $work }}
laptop_monitor = {{ $laptop_monitor | quote }}
external_monitor = {{ $external_monitor | quote }}
wifi_device = {{ $wifi_device | quote }}

# TODO: Use secrets
[data.mpdscribble.libre_fm]
password = "PASSWORD"
[data.mpdscribble.listenbrainz]
api_token = "API_TOKEN"
